/* src/styles/ShopHeader.module.css */

.shopHeader {
    /* Add any specific styles for the ShopHeader if needed */
  }
  
  .badge-discount {
    /* You can customize the badge further if needed */
  }
  
  /* .search-f{
    border: 1px springgreen solid;
    background-color: #cc1717;
    padding: 20px;
  } */