.testimonialsSection img.rounded-circle {
  object-fit: cover;
}

.carousel-item h5 {
  margin-top: 10px;
}

.carousel-item p {
  font-style: italic;
}

.carouselControlPrevIcon,
.carouselControlNextIcon {
    filter: invert(100%);
}